* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

.header {
    background-color: #EE6055;
    max-height: 92.8px;
}

.header h1 {
    font-size: 80px;
    color: #ff9b85;
    display: inline-block;
}

.header_Form {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 35px;
    vertical-align: super;
}

.header_Form input[type=text] {
    height: 36px;
    width: 300px;
    margin-right: 12px;
}    

.header_Form input[type=submit] {
    height: 36px;
    padding: 4px 6px;
    font-size: large;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
}    

body, html {
    background-color: #AAf683
}

.inputBox_index {
    background-color: #ffd97d;
    margin: 100px 30%;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.inputBox_index h1 {
    color: white;
    font-size: 30px;
}

.inputBox_index input[type=submit] {
    font-size: x-large;
    background-color: #57a773;
    border: none;
    color: white;
    min-width: 44%;
    min-height: 170px;  
    margin: auto;
    margin-top: 10px;
    margin-bottom: 22px;
    cursor: pointer;
}

.inputBox_regIn {
    background-color: #ffd97d;
    margin: 100px 40%;
    width: 20%;
    justify-content: center;
    text-align: center;
}

.inputBox_regIn h1 {
    color: white;
    font-size: 30px;
}

.table_regIn {
    margin: auto;
    margin-top: 10px;
    text-align: right;
}

.table_regIn input[type=text] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn input[type=password] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn input[type=email] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn th {
    padding-bottom: 10px;
}

.inputBox_regIn input[type=submit] {
    font-size: x-large;
    background-color: #57a773;
    border: none;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
}

.switch_regIn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 120px;
    background-color: transparent;
    border: none;  
    color: white; 
    cursor: pointer;
    text-shadow: 3px 2px #57a773;
}

.projectTable {
    margin: 100px 18%;
}

.projectTable th{
    font-size: 70px;
    color: white;
    text-shadow: 3px 2px #57a773;
}

.project {
    background-color: #ffd97d;
}

