* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

.error {
    background-color: #57a773;
    padding-left: 4px;
}

.header {
    background-color: #EE6055;
    max-height: 92.8px;
}

.header h1 {
    font-size: 80px;
    color: #ff9b85;
    display: inline-block;
}

.header_Form {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 35px;
    vertical-align: super;
}

.header_Form input[type=text] {
    height: 36px;
    width: 300px;
    margin-right: 12px;
    border: 1px solid black;
}    

.header_Form input[type=submit] {
    height: 36px;
    padding: 4px 6px;
    font-size: large;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
} 

.logout {
    margin: 30px 30px;
    padding: 3px 40px;
    float: right; 
    font-size: x-large;
    background-color: #ff9b85;
    border-radius: 4px;
    color: white;
}

.back {
    margin: 25px 30px;
    padding: 3px 30px;
    float: right; 
    font-size: x-large;
    background-color: #ff9b85;
    border-radius: 4px;
}

.back input[type=submit] {
    height: 36px;
    padding: 4px 4px;
    font-size: large;
    border: none;
    cursor: pointer;
    background-color: #ff9b85;
    color: white;
}

body, html {
    background-color: #AAf683
}

.inputBox_index {
    background-color: #ffd97d;
    margin: 100px 30%;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.inputBox_index h1 {
    color: white;
    font-size: 30px;
}

.inputBox_index input[type=submit] {
    font-size: x-large;
    background-color: #57a773;
    border: none;
    color: white;
    min-width: 44%;
    min-height: 170px;  
    margin: auto;
    margin-top: 10px;
    margin-bottom: 22px;
    cursor: pointer;
}

.inputBox_regIn {
    background-color: #ffd97d;
    margin: 100px 40%;
    width: 20%;
    justify-content: center;
    text-align: center;
}

.inputBox_regIn h1 {
    color: white;
    font-size: 30px;
}

.table_regIn {
    margin: auto;
    margin-top: 10px;
    text-align: right;
}

.table_regIn input[type=text] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn input[type=password] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn input[type=email] {
    padding: 2px 4px;
    width: 100%;
}

.table_regIn th {
    padding-bottom: 10px;
}

.inputBox_regIn input[type=submit] {
    font-size: x-large;
    background-color: #57a773;
    border: none;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
}

.switch_regIn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 120px;
    background-color: transparent;
    border: none;  
    color: white; 
    cursor: pointer;
    text-shadow: 3px 2px #57a773;
}

.projectTable {
    margin: 100px 18%;
}

.projectTable p{
    font-size: 70px;
    color: white;
    text-shadow: 3px 2px #57a773;
}

.project {
    padding-left: 4px;
    background-color: #ffd97d;
    margin-bottom: 18px;
    border-radius: 14px;
    border-style: groove;
    display: inline-block;
    width: 80%;
}

.project h1 {
    display: inline-block;
    color: white;
}

.project form {
    display: inline-block;
}

.project input[type=submit] {
    font-size: x-large;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
    float: right;
    padding: 3px 40px;  
    border-radius: 4px;
}

.project form {
    float: right;
    margin: 4px 4px;
}

.deletThis {
    display: inline-block;
}

.deletThis input[type=submit] {
    font-size: x-large;
    background-color: #EE6055;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px 3px;
    border-radius: 4px;
    margin-left: 4px;
}

.projectView {
    margin: 100px 18%;
    text-align: center;
}

.projectView h1 {
    font-size: 70px;
    color: white;
    text-shadow: 3px 2px #57a773;
}

.projectInput {
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
    margin: 0px 25%;
}

.projectInput input[type=text] {
    padding: 2px 4px;
}

.projectInput input[type=submit] {
    padding: 2px 4px;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
}

.projectInput input[type=date] {
    padding: 2px 4px;
}

.projectComment {
    margin: 18px 25%;
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
}

.projectComment th {
    color: gray;
}

.open {
    padding: 2px 4px;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0px 13px;    
}

.delete {
    padding: 2px 4px;
    background-color: #EE6055;
    border: none;
    color: white;
    cursor: pointer;
}

.dateName {
    margin-top: 80px;
    margin-left: 40%;   
    color: white;
}

.description {
    margin: 23px 33%;
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
}

.description p {
    color: gray;
    font-size: large;
    margin-bottom: -15px;
}

.description textarea {
    height: 69px;
    width: 100%;
}

.description input[type=submit] {
    padding: 2px 4px;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
    font-size: large;
    border-radius: 3px;
    margin-top: 3px;
}

.writeComment {
    margin: 23px 35%;
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
}

.writeComment p {
    color: gray;
    font-size: large;
}

.writeComment textarea {
    width: 100%;
}

.writeComment input[type=submit] {
    padding: 2px 4px;
    background-color: #57a773;
    border: none;
    color: white;
    cursor: pointer;
    font-size: large;
    border-radius: 3px;
    margin-top: 3px;
}

.comments {
    margin: 0px 25%;
}

.comments td {
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
}

.comments input[type=submit] {
    padding: 2px 4px;
    background-color: #EE6055;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.empty {
    margin: 0px 35%;
    padding: 6px;
    background-color: #ffd97d;
    border-radius: 14px;
    border-style: groove;
}